<div class="jumbotron">
  <h2>Welcome to Phoenix!</h2>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>


  <%= link "Go to Checkout Page",
        to: checkout_path(@conn, :index),
        class: "btn btn-lg btn-primary" %>
</div>
